/* 
font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

body{
    background-color:#ffffff;
}

header{
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    box-shadow: 0px 0px 80px gray;
}

header > div{
    display: flex;
}

#logo{
    width: 85px;
    height: 85px;
    background-image: url(../assets/images/Cloud_Logo.png);
    background-size: cover;
    padding-left: 50px; /*I dont understand how this works*/
}

#slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#slogan > h2{
    font-weight: 900;
}

#slogan > p{
    font-style: italic;
}

nav{
    width: 50%;
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

nav > ul > li:hover {
    font-weight: 900;
}


main {
    width: 100vw;
    height: calc(100vh - 100px);
    position: fixed;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.intro, #offers {
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
  }

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 7%;
}

.intro > h1{
    font-size: xx-large;
    font-weight: 400;
}

.intro > p{
    text-align: center;
    line-height: 25px;
}

#button{
    background-color: white;
    border: 2px dotted cornflowerblue;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.2s;
}

#button:hover{
    background-color: cornflowerblue;
    color: white;

}

.offers {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 4%;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    padding: 50px 50px 50px 50px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

h3 {
    font-size: larger;
    font-weight: 700;
}

#Cloud{
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/images/Cloud_illustration.png);
}

#o1pic{
    width: 250px;
    height: 250px;
    background-size: cover;
    padding-left: 50px;
    background-image: url(../assets/images/o1pic.png);
}

#o2pic{
    width: 250px;
    height: 250px;
    background-size: cover;
    padding-left: 50px;
    background-image: url(../assets/images/o2pic.png);
}

#o3pic{
    width: 250px;
    height: 250px;
    background-size: cover;
    padding-left: 50px;
    background-image: url(../assets/images/o3pic.png);
}

.footer{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
}