/* 
font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

* {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: larger;
    font-weight: 700;
}

body{
    background-color:#ffffff;
}

header{
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    box-shadow: 0px 0px 80px gray;
}

header > div{
    display: flex;
}

#logo{
    width: 85px;
    height: 85px;
    background-image: url(../assets/images/Cloud_Logo.png);
    background-size: cover;
    padding-left: 50px; /*I dont understand how this works*/
}

#slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#slogan > h2{
    font-weight: 900;
}

#slogan > p{
    font-style: italic;
}

nav{
    width: 50%;
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

nav > ul > li:hover {
    font-weight: 900;
}


main {
    width: 100vw;
    height: calc(100vh - 100px);
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
}

.intro, #offers {
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
  }

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 7%;
}

.intro > h1{
    font-size: xx-large;
    font-weight: 400;
}

.intro > p{
    text-align: center;
    line-height: 25px;
}

#button{
    background-color: white;
    border: 2px dotted cornflowerblue;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

#button:hover{
    background-color: cornflowerblue;
    color: white;

}


#Cloud{
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/images/Cloud_illustration.png);
}

.offers {
    height: 60%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    padding: 5%;
}

#o1pic{
    width: 150px;
    height: 150px;
    background-size: cover;
    padding-left: 50px;
    padding-bottom: 40px;
    background-image: url(../assets/images/o1pic.png);
}

#o2pic{
    width: 150px;
    height: 150px;
    background-size: cover;
    padding-left: 50px;
    padding-bottom: 40px;
    background-image: url(../assets/images/o2pic.png);
}

#o3pic{
    width: 150px;
    height: 150px;
    background-size: cover;
    padding-left: 50px;
    padding-bottom: 40px;
    background-image: url(../assets/images/o3pic.png);
}

#o4pic{
    width: 150px;
    height: 150px;
    background-size: cover;
    padding-left: 50px;
    padding-bottom: 40px;
    background-image: url(../assets/images/o4pic.png);
}

#o5pic{
    width: 150px;
    height: 150px;
    background-size: cover;
    padding-left: 50px;
    padding-bottom: 40px;
    background-image: url(../assets/images/o5pic.png);
}

.o1div {
    gap: 55px;
}

.signup {
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
    padding:24px 32px 24px 32px;
    margin: 200px;
    background-color: cornflowerblue;
    border-radius:24px;
}

.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.signupText {
    padding-bottom: 20px;
    flex-direction: column;
}

.signupText > h2 {
    font-size: x-large;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.toggleEmail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toggleEmail > p {
    font-size: small;
}

#SubmitButton {
    width: fit-content;
    border-radius: 6px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 7px;
    transition-duration: 0.4s;
    padding-top: 2px;
    padding-bottom: 2px;
}

#SubmitButton:hover {
    background-color: forestgreen;
    color: white;
}

#signupPic {
    background-size: cover;
    background-image: url(/assets/images/signup_pic.png);
    width: 450px;
    height: 450px;
    margin-left: 150px;
}

.plans {
    height: 60%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}